* {
    font-family: 'Mohave', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
    display: flex;
    justify-content: center;
    background-color: #D2B48C;
}

main {
    flex: 0 0 640;
}

h1 {
    color: #8B4513;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 25px;
    padding-left: 25px;
}